<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy Center usuário</title>
    <link rel="stylesheet" th:href="@{/css/remodel.css}">
    <link rel="stylesheet" th:href="@{/css/pedido.css}">
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>
<body>
<header>
    <nav class="nav-logo">
        <div class="logo">
            <a href="getAllToy.html"> <img
                    src="image/logoToyCenterAlt.svg" alt=""></a>
        </div>

        <div class="store-name">
            <h1>TOY CENTER</h1>
        </div>

        <div class="space"><div class="menuList"><a class="loginBtn" th:href="@{'/client/login'}">ENTRAR</a></div></div>
    </nav>

    <nav class="menu">
        <div class="menuList">
            <a th:href="@{'/product'}">Inicio</a>
            <a th:href="@{'/category'}">Categorias</a>

            <div class="dropdown">
                <button class="dropbtn">Administração</button>
                <div class="dropdown-content">
                    <a th:href="@{'/product/findAll'}">Brinquedos</a>
                    <a th:href="@{'/category/findAll'}">Categorias</a>
                    <a th:href="@{'/client/findAll'}">Clientes</a>
                    <a th:href="@{'/administrator/findAll'}">Administradores</a>
                </div>
            </div>
            <a th:href="@{'/order'}">Ver pedidos</a>
            <a th:href="@{'/administrator/team'}">Sobre a Equipe</a>
            <a th:href="@{'/client/findClient'}">Gerenciar Perfil</a>

        </div>
    </nav>
</header>
    <div class="container_pedidos">
        <h2 class="subtitulo_pedido">Carrinho de compras</h2>
        <div class="camadaPed_0" th:each="orderDTO, index : ${orderDTOList}">
            <div class="camadaPed_1">
                <div class="tabela_Pedidos">
                    <h2 class="numero_pedido">Carrinho</span></h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>Subtotal</th>
			                	<th>Operações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="trw_Ped" th:each="orderItem, number : ${orderDTO.orderItens}">
                                
                                <td class="ped_compact" th:text="${orderItem.product.name}">nome produto</td>
                                <td class="ped_compact" th:text="${orderItem.quantity}">quantidade</td>
                                <td class="ped_compact" th:text="${orderItem.product.price}">preço</td>
                                <td class="ped_compact" th:text="${orderItem.subTotal}">Subtotal</td>

                                <td class="ped_controls">
                                    <a class="linkDelete" th:attr="onclick='deleteOrderItem(\'' + ${orderDTO.client.id} + '\', \'' + ${orderDTO.id} + '\', \'' + ${number.index} + '\')'">Deletar</a>
                                    <a class="linkEdit" th:href="@{'/order/update/client/' + ${orderDTO.client.id} + '/' + ${orderDTO.id} + '/' + ${number.index}}">Atualizar</a>
                                </td>
                            </tr>
                        </tbody>
		            </table>
                    <div class="exInfo">
                    <p>Momento: <span th:text="${orderDTO.moment}"></span> </p>
                    <p>Total R$ <span class="valor_totalPed" th:text="${orderDTO.total}"></span> </p>
                    </div>
                    <div class="exControl">
                    <a class="linkDelete" th:attr="onclick='deleteOrder(\'' + ${orderDTO.client.id} + '\', \'' + ${orderDTO.id} + '\')'">Excluir Carrinho</a>
                    <a class="linkEdit" th:href="@{'/order/orderBuy/' + ${orderDTO.client.id} + '/' + ${orderDTO.id}}">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function deleteOrderItem(clientId, orderId, index) {
        if (window.confirm("Você tem certeza de que deseja excluir o item de pedido?")) {
            fetch('http://localhost:8080/order/delete/client/' + clientId + '/' + orderId + '/' + index, {
                method: 'DELETE',
            })
            .then(response => {
                console.log('Server response:', response);
			    window.location.href = "http://localhost:8080/order";
            })
            .catch(error => {
                console.error('Request error:', error);
            });
        } else {
            console.log("Deletion canceled by user.");

        }
    }

    function deleteOrder(clientId, orderId) {
        if (window.confirm("Você tem certeza de que deseja excluir o pedido?")) {
            fetch('http://localhost:8080/order/delete/client/' + clientId + '/' + orderId, {
                method: 'DELETE',
            })
            .then(response => {
                console.log('Server response:', response);
				window.location.href = "http://localhost:8080/order";
            })
            .catch(error => {
                console.error('Request error:', error);
            });
        } else {
            console.log("Deletion canceled by user.");

        }
    }

</script>
</html>