<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

<nav>
	<ul>
		<li><a th:href="@{'/order'}">BACK TO PRODUCTS</a></li>
	</ul>
</nav>

<form th:action="@{'/order/update/client/' + ${clientId} + '/' + ${orderId} + '/' + ${index}}" method="POST" th:object="${auxOrderRequestDTO}">
	<input type="hidden" name="_method" value="put">

	<label>Order id:</label><br>
	<input type="text" th:field="*{id}" readonly>

	<label>Client Id</label>
	<input type="text" th:field="*{clientId}" readonly> <br>

	<label>Quantity</label>
	<input type="number" step="1" min="1" th:field="*{quantity}"> <br>

	<label>Product Id</label>
	<input type="text" th:field="*{productId}" readonly> <br>

	<input type="submit" value="submit">
</form>
<p th:if="${message != null}" th:text="${message}" style="color: red;"></p>
</body>
</html>