<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/remodel.css}">
    <link rel="stylesheet" th:href="@{/css/errorStyle.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Toy Center inicio</title>
</head>

<body>
	<header>
		<nav class="nav-logo">
			<div class="logo">
				<a href="getAllToy.html"> <img
						src="image/logoToyCenterAlt.svg" alt=""></a>
			</div>
	
			<div class="store-name">
				<h1>TOY CENTER</h1>
			</div>
		</nav>
	
		<nav class="menu">
			<div class="menuList">
				<a th:href="@{'/product'}">Inicio</a>
				<a th:href="@{'/category'}">Categorias</a>
	
				<div class="dropdown">
					<button class="dropbtn">Administração</button>
					<div class="dropdown-content">
						<a th:href="@{'/product/findAll'}">Brinquedos</a>
						<a th:href="@{'/category/findAll'}">Categorias</a>
					</div>
				</div>
				<a th:href="@{'/administrator/team'}">Sobre a Equipe</a>
	
			</div>
		</nav>
	</header>

<div class="centralize">
    <div class="errorContainer">
    <h1 class="errorH1" th:text="'Error: ' + ${message}"></h1>
    <p class="errorP" th:text="'Description: ' + ${description}"></p>
    <p class="errorP" th:text="'Status: ' + ${status}"></p>
    <p class="errorP" th:text="'Timestamp: ' + ${timestamp}"></p>
    <p class="errorP" th:text="'Path: ' + ${path}"></p>
    <a class="errorA" th:href="@{/product}">Voltar ao início</a>
    </div>
</div>
</body>
</html>