/* Adicione este CSS ao seu arquivo styleAdm.css */

.containerAdm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.camada0{
	display:flex;
	justify-content:center;
    width: 100%;
    padding:50px 50px;
}

.camada1 {
    background-color: var(--Branco);
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.subtitulo {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--Azul);
    padding-bottom: 10px;
}

.tabela {
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    max-height: 500px; /* Define a altura máxima da tabela antes de mostrar a barra de rolagem */
}
.tabelaUser {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    max-height: 500px; /* Define a altura máxima da tabela antes de mostrar a barra de rolagem */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toy-compact-cell {
    max-width: 200px;
}

.toy-compact-cell:hover {
    overflow: visible;
    white-space: normal;
    z-index: 1;
    background-color: #fff;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkEdit, .linkDelete {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.linkEdit {
    background-color: var(--AzulAtual);
    color: white;
}

.linkEdit:hover{
    background-color: #263d84;
}

.linkDelete {
    background-color: red;
    color: white;
}

.linkDelete:hover {
	background-color:rgb(128, 0, 0);
}

a.botao {
    display: block;
    text-align: center;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #1e3a8a;
    transition: background-color 0.3s ease;
}

a.botao:hover {
    background-color: #072240;
}

a.botao1 {
    width: 100px;
    margin-left: 20px;
    display: block;
    text-align: center;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #1e3a8a;
    transition: background-color 0.3s ease;
}

a.botao1:hover {
    background-color: #072240;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginacao a {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: #1e3a8a;
    background-color: #e9ebfe;
    transition: background-color 0.3s ease;
}

.paginacao a:hover {
    background-color: #072240;
    color: white;
}

.trw {
	background-color: rgba(1, 1, 1, 0.1);
}

.trb {
	background-color: rgba(1, 1, 1, 0.3);
}
.containerUser{
        background-color: var(--AzulAtual);
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
    width: 50%;
    border-radius: 30px;
    margin-bottom:10vh;
    margin-top:10vh;
}
.camadaUser {
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display:flex;
    flex-flow:column nowrap;
       width: 100%;
}
.camadaUser h2{
color:var(--fundoBranco);
text-align:center;
}
.userInfo{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}
.linkEditUser {
    background-color: var(--Azul);
    color: var(--fundoBranco);
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.linkEditUser:hover{
    background-color: #263d84;
}
.logOutBtn{
        outline: none;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        background-color: var(--fundoBranco);
        color: var(--AzulAtual);
        border: none;
        transition: 0.3s ease-in-out;
        font-size: 16px;
        border-radius: 25px;
        width:220px;
        height: 48px;
        margin-bottom: 20px;
        padding: 10px 20px;
        cursor: pointer;
        text-transform: uppercase;
        display:inline-block;
        text-align:center;
}
.logOutBtn:hover{
        background-color: var(--Azul);
        color: var(--Branco);
        transform: translateY(-2px);
}
.logOutBtn:active{
       transform: scale(0.90);
}