<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Toy Center ADM</title>
	<link rel="stylesheet" th:href="@{/css/styleAdm.css}">
	<link rel="stylesheet" th:href="@{/css/remodel.css}">
	<link rel="stylesheet" th:href="@{/css/styleForm.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="nav-logo">
			<div class="logo">
				<a href="getAllToy.html"> <img
						src="image/logoToyCenterAlt.svg" alt=""></a>
			</div>
	
			<div class="store-name">
				<h1>TOY CENTER</h1>
			</div>
		</nav>
	
		<nav class="menu">
			<div class="menuList">
				<a th:href="@{'/product'}">Inicio</a>
				<a th:href="@{'/category'}">Categorias</a>
	
				<div class="dropdown">
					<button class="dropbtn">Administração</button>
					<div class="dropdown-content">
						<a th:href="@{'/product/findAll'}">Brinquedos</a>
						<a th:href="@{'/category/findAll'}">Categorias</a>
					</div>
				</div>
				<a th:href="@{'/administrator/team'}">Sobre a Equipe</a>
	
			</div>
		</nav>
	</header>

	<div class="containerAdm">
	  <div class="camada0">
	    <div class="camada1">
	        <h2 class="subtitulo">Administração: Categorias</h2>
	            <div class="tabela">
	            <table>
	                <thead>
	                    <tr>
	                        <th>Código da categoria</th>
	                        <th>Imagem da categoria</th>
	                        <th>Nome da categoria</th>
	                        <th>Operações da categoria</th>
	                    </tr>
	                </thead>
	                <tbody>                   
	                   <tr class="trb">
					   <tr class="trw" th:each="categoryDTO : ${listCategoryDTO}">
					    <td th:text="${categoryDTO.id}">categoria codigo</td>
						   <td><img th:src="${categoryDTO.image}" width="100px" height="100px"></td>
								<td class="toy-compact-cell" th:text="${categoryDTO.name}">categoria nome</td>
								<td class="controls">
									<a class="linkDelete" th:attr="onclick=${'deleteCategory('+ '''' + categoryDTO.id + '''' + ')'}">Deletar</a>
								    <a class="linkEdit" th:href="@{'/category/update/' + ${categoryDTO.id}}">Atualizar</a>
								</td>
							</tr>
	                </tbody>
	            </table>
	        </div>
	        <br>
	        <div class="centralizeButton">
	        <a id="confirmBtn" href="/category/insert">Adicionar</a>
				<br><br>
	        </div>
            <script>
			function deleteCategory(id) {
			    if (window.confirm("Você tem certeza de que deseja excluir a categoria?")) {
			        console.log("Category deleted successfully!");
					fetch('http://localhost:8080/category/delete/' + id, {
						method: 'DELETE',
					})
					.then(response => {
						if (response.ok) {
							console.log('Server response:', response);
							window.location.href = "http://localhost:8080/category/findAll";
						}
			        })
			        .catch(error => {
			            console.error('Request error:', error);
			        });
			    } else {
			        console.log("Deletion canceled by category.");
			    }
			}
		  </script>
	    </div>
	    </div>
    </div>
</body>
</html>